<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户信息 - OnlineChat</title>
	<!-- 网站名使用常量 -->
	<link rel="stylesheet" type="text/css" href="../../static/css/xc_basic.css">
	<link rel="stylesheet" href="../../static/font-awesome-4.7.0/css/font-awesome.min.css">
	<style>
		body, html{
			height: 100%;
			position: relative;
		}
		#outer{
			top: 25%;
			left: 20%;
			width:50%;
			position: absolute;
		}
	</style>
</head>
<body class="background-gray">
	<div id="outer">
		<div class="portrait center">
			<img src="../../static/img/soccor-80-80.jpg" alt="" class="portrait-large" style="width:120px; height: 120px;">
		</div>
		<div class="center">
			<table style="margin: 0px auto;">
				<tr>
					<td>UID</td>
					<td>1000000</td>
				</tr>
				<tr>
					<td>昵称</td>
					<td>小川先生</td>
				</tr>
				<tr>
					<td>邮箱</td>
					<td>superxc@outlook.com</td>
				</tr>
				<tr>
					<td>备注：</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="center">
			<button class="btn btn-primary btn-block" style="width: 50%">发送信息</button>
		</div>
		<div class="center">
			<button class="btn btn-primary btn-block" style="width: 50%">添加好友</button>
		</div>
		<div class="center">
			<button class="btn btn-warning btn-block" style="width: 50%">删除</button>
		</div>
	</div>
</body>
</html>